body {
  background-color: black;
}

header {
  background-color: slategrey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header .inner {
  display: inline-block;
}

header h1 {
  color: darkred;
  font-style: italic;
}
header img {
  width: 5%;
  padding: 10px
}
